# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.exp

# Executables
*.exe
*.out
*.app

# Python
*.pyc
*.pyd

# Data/temp files
*.csv
*.txt
*.swp
*.json
*.avsc
*.avro
*.hql
*.yml
*.yaml
*.gz
*.sql

# Build/Distutils/Setuptools
MANIFEST
build/*
dist/*
doc/build/
doc/build/*
docs/build/
docs/build/*
*.egg-info/
htmlcov/
.cache/
.coverage
tests/tmp/
.eggs/*
